.json_schema_dialog > div:nth-child(3) > div {
    position: relative;
    width: 630px;
    max-height: 650px;

    background: rgb(24 27 31);
    border-radius: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.json_schema_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.json_schema_section h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    margin: 0 0 35px;
}

.json_schema {
    background: rgba(33, 37, 42, 0.5);
    border: 1px solid #292929;
    box-sizing: border-box;
    border-radius: 10px;
    max-height: 350px;
    overflow-y: auto;
    padding: 20px;
    width: 90%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    font-feature-settings: 'zero' on;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    text-align: initial;
    white-space: break-spaces;
    word-wrap: break-word;
}

.json_schema .row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.json_schema .row .label_info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.json_schema .row .label_info p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-feature-settings: 'zero' on;
    color: #FFFFFF;
}

.json_schema_action {
    width: 100%;
}

.json_schema_action > button {
    background: linear-gradient(91.79deg, #FAC01E 3.15%, #FC762A 85.66%);
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    border-radius: 5px;
    text-transform: capitalize;
    width: 80%;
    padding: 17px 10px;
    margin-top: 10px;
    color: #000;
    margin-left: 0;
}

.json_schema_action > button:disabled {
    opacity: 0.5;
}

.json_schema_action > button > p {
    background: linear-gradient(180deg, #0E151B 0%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.json_schema_dialog .close_icon {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
}

.json_schema_dialog .close_icon > svg {
    width: 16px;
}

.json_schema_dialog .json_schema_parent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 40px;
}

.json_schema_dialog .copy_button {
    position: absolute;
    bottom: 30px;
    right: 50px;
}

@media (max-width: 425px) {
    .json_schema {
        width: 100%;
        margin: unset;
    }

    .json_schema_dialog .json_schema_parent {
        margin-bottom: 20px;
    }

    .json_schema_dialog > div:nth-child(3) > div {
        padding: 40px 30px;
    }
}
